<li>
    {{ burger_name }}

    {{#if devoured}}
    <button class="change-devour" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}DEVOUR IT!{{/if}}
    </button>
    {{/if}}
</li>