html,
body {
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #E16227;
    background-image: url("../img/food.png");
}

h1{
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.5rem;
    color: #E16227;
    font-weight: bold; 
}

h5{
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1rem;
    color: #E16227;
    font-weight: bold; 
}
/* End - Bootstrap css overwritten*/


#sticky-footer {
    flex-shrink: none;
}

.footer {
    background-color: #E16227;
    color: #fff;
    font-size: 0.8rem;
}